@{
    var id = Context.Request.Query["id"].FirstOrDefault()?.ToString() ?? string.Empty;
    var outpatientVisitsUrl = Url.Action("outpatientVisits", "門診看診人數");
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-user-nurse"></i>
        門診看診人數
    </div>
    <div class="card-body">
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-3 input-group">
                    <label for="str_datetime" class="d-none">選擇開始日期</label>
                    <input type="text" id="str_datetime" class="form-control" placeholder="選擇開始日期"
                           value="@ViewData["StrDate"]">
                    <div class="input-group-prepend">
                        <span class="input-group-text str_calendar"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-3 input-group">
                    <label for="end_datetime" class="d-none">選擇結束日期</label>
                    <input type="text" id="end_datetime" class="form-control" placeholder="選擇結束日期"
                           value="@ViewData["EndDate"]">
                    <div class="input-group-prepend">
                        <span class="input-group-text end_calendar"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-greater-than-equal"></i></span>
                        </div>
                        <input type="text" class="form-control" id="count" name="count" value="@ViewData["Count"]">
                        <div class="input-group-append">
                            <span class="input-group-text">人</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <a id="detail" class="form-control btn-warning nav-link text-center" href="{{ url('門診看診人數/downloadDetail?id=' . Request::input('id')) }}" target="_blank">
                        <i class="fas fa-download"></i>
                        <span>明細下載（.xls）</span>
                    </a>
                </div>
            </div>
        </div>
        <table id="dataTable" class="table table-hover table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>掛號日期</th>
                    <th>看診班別</th>
                    <th>醫師姓名</th>
                    <th>看診人數</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            new Cleave('#str_datetime', {
                delimiter: '-',
                blocks: [4, 2, 2]
            });

            new Cleave('#end_datetime', {
                delimiter: '-',
                blocks: [4, 2, 2]
            });

            $('#str_datetime, #end_datetime').datepicker({
                todayHighlight: true,
                autoclose: true,
                format: 'yyyy-mm-dd',
                language: "zh-TW",
                dateFormat: 'yy-mm-dd',
            });

            $('.str_calendar').click(function () {
                $('#str_datetime').datepicker('show');
            });

            $('.end_calendar').click(function () {
                $('#end_datetime').datepicker('show');
            });

            ajaxDate();

            $('#str_datetime, #end_datetime, #count').on('change', function () {
                $('#detail').attr('href', '#' + $.urlParam('id') + '&str_date=' + $('#str_datetime').val() + '&end_date=' + $('#end_datetime').val() + '&count=' + $('#count').val());
                ajaxDate();
            });
        });


        $.urlParam = function (name) {
            let results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return decodeURI(results[1]) || 0;
        };

        function ajaxDate() {
            $('#dataTable').DataTable({
                'ajax': {
                    'type': 'GET',
                    'url': '@outpatientVisitsUrl',
                'dataType': 'json',
                'data': {
                    id: '@id',
                    str_date: $('#str_datetime').val(),
                    end_date: $('#end_datetime').val(),
                    count: $('#count').val()
                },
                'dataSrc': function (data) {
                    return data;
                }
            },
                'columns': [
                { 'data': '掛號日期' },
                { 'data': '看診班別' },
                { 'data': '醫師姓名' },
                { 'data': '看診人數' },
            ],
                'order': [[0, 'asc']],
                'destroy': true,
                pageLength: 25,
                fixedHeader: true
                    });
                }

    </script>
}