@{
    var id = Context.Request.Query["id"].FirstOrDefault()?.ToString() ?? string.Empty;
    var diagnosisUrl = Url.Action("diagnosis", "診斷書統計");
}

<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-hospital"></i>
        診斷書統計
    </div>
    <div class="card-body">
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-3 input-group">
                    <label for="str_datetime" class="d-none">選擇開始日期</label>
                    <input type="text" id="str_datetime" class="form-control" placeholder="選擇開始日期"
                           value="@ViewData["StrDate"]">
                    <div class="input-group-prepend">
                        <span class="input-group-text str_calendar"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-3 input-group">
                    <label for="end_datetime" class="d-none">選擇結束日期</label>
                    <input type="text" id="end_datetime" class="form-control" placeholder="選擇結束日期"
                           value="@ViewData["EndDate"]">
                    <div class="input-group-prepend">
                        <span class="input-group-text end_calendar"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-stethoscope"></i>
                        依月份
                    </div>
                    <div class="card-body">
                        <table id="dataTable" class="table table-hover table-striped table-bordered text-center">
                            <thead>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-stethoscope"></i>
                        依醫師
                    </div>
                    <div class="card-body">
                        <table id="dataTable_second" class="table table-hover table-striped table-bordered text-center">
                            <thead>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            new Cleave('#str_datetime', {
                delimiter: '-',
                blocks: [4, 2, 2]
            });

            new Cleave('#end_datetime', {
                delimiter: '-',
                blocks: [4, 2, 2]
            });

            $('#str_datetime, #end_datetime').datepicker({
                todayHighlight: true,
                autoclose: true,
                format: 'yyyy-mm-dd',
                language: "zh-TW",
                dateFormat: 'yy-mm-dd',
            });

            $('.str_calendar').click(function () {
                $('#str_datetime').datepicker('show');
            });

            ajaxDate();

            $('.end_calendar').click(function () {
                $('#end_datetime').datepicker('show');
            });

            $('#str_datetime, #end_datetime').on('change', function () {
                $('#dataTable, #dataTable_second').DataTable().clear().destroy();
                $('#dataTable thead tr, #dataTable_second thead tr').remove();
                ajaxDate();
            });
        });

        function ajaxDate() {
            $('#dataTable thead').append('<tr><th>月份</th><th>數量</th></tr>');
            $('#dataTable_second thead').append('<tr><th>月份</th><th>姓名</th><th>數量</th></tr>');
            $('#dataTable').DataTable({
                'ajax': {
                    'type': 'GET',
                    'url': '@diagnosisUrl',
                'dataType': 'json',
                'data': {
                    id: '@id',
                    str_date: $('#str_datetime').val(),
                    end_date: $('#end_datetime').val(),
                },
                'dataSrc': function (data) {
                        return data['firstRecord'];
                }
            },
                'columns': [
                { 'data': '月份', 'class': 'align-middle' },
                { 'data': '數量', 'class': 'align-middle' },
            ],
                'order': false,
                'destroy': true,
                pageLength: 100,
                fixedHeader: true,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="custom-select custom-select-sm form-control form-control-sm"><option value="">全部</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                    });
        $('#dataTable_second').DataTable({
            'ajax': {
                'type': 'GET',
                    'url': '@diagnosisUrl',
            'dataType': 'json',
            'data': {
                id: '@id',
                str_date: $('#str_datetime').val(),
                end_date: $('#end_datetime').val(),
            },
            'dataSrc': function (data) {
                        return data['secondRecord'];
            }
        },
            'columns': [
            { 'data': '月份', 'class': 'align-middle' },
            { 'data': '姓名', 'class': 'align-middle' },
            { 'data': '數量', 'class': 'align-middle' },
        ],
            'order': false,
            'destroy': true,
            pageLength: 100,
            fixedHeader: true,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="custom-select custom-select-sm form-control form-control-sm"><option value="">全部</option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },
                    });
                }

    </script>
}