@{
    ViewData["Title"] = "用戶權限";
    var userRights = Context.Items["UserRights"] as IEnumerable<dynamic>;
    var id = Context.Request.Query["id"].FirstOrDefault()?.ToString() ?? string.Empty;
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var right in userRights ?? Enumerable.Empty<dynamic>())
    {
        var actionUrl = $"{baseUrl}/{right.name}?id={id}";
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="@right.icon"></i>
                    </div>
                    <div class="mr-5">@right.name</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@actionUrl">
                    <span class="text-dark float-left">詳細資料</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right text-dark"></i>
                    </span>
                </a>
            </div>
        </div>
    }
</div>