@model dynamic

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        .ExternalClass {
            width: 100%
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 150%
        }

        a {
            text-decoration: none
        }

        .text-left {
            text-align: left !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        .align-middle {
            vertical-align: middle !important;
        }

        .custom-border {
            border-top: none;
            border-bottom: none;
        }
    </style>
</head>
<body>
    <div class="preview" style="display: none; max-height: 0px; overflow: hidden;">
        信件為宏恩醫療財團法人宏恩綜合醫院薪資/獎金明細
    </div>
    <p class="text-center">@Html.Raw(Model[0])</p>
    <table id="detail" style="border-collapse: collapse; width: 100%;" border="1">
        @Html.Raw(Model[1])
    </table>
</body>
</html>